extends base.pug

block scripts 
  script(src='../static/js/resp.js')

block style
  style 
      include ../static/css/style.css
      include ../static/css/responsive.css
      include ../static/css/about.css

block content 
   div.container
    div.about-heading
       h1 This is iEducation
    div.para-section
       div.para
        h3 Policy
        p Education policy is prepared by the Central Government and State Governments at national and state levels respectively. The National Policy on Education (NPE), 1986, has provided for environment awareness, science and technology education, and introduction of traditional elements such as Yoga into the Indian secondary school system. A significant feature of India's secondary school system is the emphasis on inclusion of the disadvantaged sections of the society.[citation needed] Professionals from established institutes are often called to support in vocational training. Another feature of India's secondary school system is its emphasis on profession based vocational training to help students attain skills for finding a vocation of his/her choosing.

       div.para
        h3 Curriculum and school education boards
        p National Skill Development Agency (NSDA)'s National Skills Qualification Framework (NSQF), is a quality assurance framework which grades and recognises levels of skill based on the learning outcomes acquired through both formal or informal means.
        | School boards set the curriculum, conduct board level exams mostly at 10th and 12th level to award the school diplomas. Exams at the remaining levels (also called standard, grade or class, denoting the years of schooling) are conducted by the schools.

       div.para
        h3 Midday Meal Scheme
        p The Midday Meal Scheme is a school meal programme of the Government of India designed to improve the nutritional status of school-age children nationwide, by supplying free lunches on working days for children in primary and upper primary classes in government, government aided, local body, Education Guarantee Scheme, and alternative innovative education centres, Madarsa and Maqtabs supported under Sarva Shiksha Abhiyan, and National Child Labour Project schools run by the ministry of labour. Serving 120,000,000 children in over 1,265,000 schools and Education Guarantee Scheme centres, it is one of the largest in the world.



   